@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: fantasy;
    background-color: rgb(31, 31, 31);
    color: rgb(255, 254, 254);
    
}

/*------- header ------*/

.container h1{
    font-family:"Passion One";
    color: rgb(240, 60, 96);
    font-size: 2.5rem;
}
header{
    background-color: rgb(28, 28, 28);
    padding: 1.5rem;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    width: 95%;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
}

nav li{
    margin-left: 1rem;
}

nav a{
    text-decoration: none;
    color: rgb(255, 254, 254);
}

nav a:hover{
    color: rgb(240, 60, 96);
    transition: all 0.4s ease;
}

/*------- main ---------*/
.main-container img{
    width: 40rem;
    max-width: 100%;
}
.main-container{
    border: 1px solid red;
    margin: 0 auto;
    max-width: 1100px;
    width: 95%;
    
}

.columns{
    border: 1px solid blue;
    display: flex;
}
.col-1{
    width: 85%;
    margin-left: 1rem;
    margin-top: 4rem;
    
}
.col-1 h1{
    font-size: 3.5rem;
    color: rgb(240, 60, 96);
}

.col-1 h2{
    font-size: 2.5rem;
    color: rgb(29, 253, 253);
    margin-top: 1rem;
    text-align: center;
}

.col-1 h3{
    font-size: 1.5;
    margin-top: 1rem;
    text-align: center;
}

.btn-main{
    align-items: center;
    justify-content: center;
    display: flex;
}

.col-1 button{
    padding: 1rem;
    
    font-size: 1rem;
    color: rgb(255, 254, 254);
    background-color: rgb(240, 60, 96);
    border: 0;
    cursor: pointer;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 3rem;
}

.col-1 button:hover{
    transition: all 0.4s ease;
    background-color: rgb(91, 91, 91);
}


.col-2{
    margin-top: 1rem;
    margin-right: 3rem;
    width: 60%;
    display: flex;
    justify-content: flex-end;
}


/*----------- Sec-Title ----*/
.sec-title{
    text-align: center;
    margin: 0 auto;
    color: rgb(29, 253, 253);
    font-size: 2.5rem;
    margin-top: 2rem;

}

/*----------- Card ---------*/

.columns-card{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-1{
    background-image: url(/images/pic3.jpg);
}

.card-2{
    background-image: url(/images/roboter.jpg);
}

.card{
    color: #000;
    background-size: cover;
    padding: 15rem 0 0;
    max-width: 35ch;
    border-radius: 15px;
    margin: 0 3rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 20px;
}

.card:hover{
    transform: scale(1.01);
    z-index: 1;
}

.card-content{
    padding: 1.5rem;
    background: linear-gradient(
        hsl(0 0% 0% /0), 
        hsl(0 0% 0% /0.3) 20%,
        hsl(0 0% 0% /1));
}

.card-title{
    color: white;
    margin-bottom: 2rem;
    text-decoration: underline;
    text-decoration-color:rgb(240, 60, 96);
}
.card-body{
    color: white;
    margin-bottom: 1.5rem;
}


.btn-card{
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn2{
    font-size: 1rem;
    color: rgb(255, 254, 254);
    background-color: rgb(240, 60, 96);
    border: 0;
    cursor: pointer;
    border-radius: 10%;
    padding: 0.5rem;
}

.btn2:hover{
    transition: all 0.4s ease;
    background-color: rgb(91, 91, 91);
}

/*---------- Footer ---- */
footer{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-top: auto;
    background-color: rgb(24, 24, 24);
    align-items: center;
}

.footer-col{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-col h2{
    font-size: 2rem;
    font-family:"Passion One";
    color: rgb(240, 60, 96);
}

.footer-col p{
    font-size: 0.8rem;
    color: rgb(134, 133, 133);
}

.footer-col img:hover{
    cursor: pointer;
}




/*@media (max-width: 600px){
    .container{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        margin-left: 0;
        margin-top: 0.2rem;
    }
}*/