@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: fantasy;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 254, 254);
    
}

/*------- header ------*/

.container h1{
    font-family:"Passion One";
    color: rgb(240, 60, 96);
    font-size: 2.5rem;
}
header{
    background-color: rgb(3, 3, 3);
    padding: 1.5rem;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    width: 95%;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
}

nav li{
    margin-left: 1rem;
}

nav a{
    text-decoration: none;
    color: rgb(255, 254, 254);
}

nav a:hover{
    color: rgb(240, 60, 96);
    transition: all 0.4s ease;
}

/*------- main ---------*/
.main-container img{
    width: 40rem;
    max-width: 100%;
}
.main-container{
    border: 1px solid red;
    margin: 0 auto;
    max-width: 1100px;
    width: 95%;
    
}

.columns{
    border: 1px solid blue;
    display: flex;
}
.col-1{
    width: 85%;
    margin-left: 1rem;
    margin-top: 4rem;
    
}
.col-1 h1{
    font-size: 3.5rem;
    color: rgb(240, 60, 96);
}

.col-1 h2{
    font-size: 2.5rem;
    color: rgb(29, 253, 253);
    margin-top: 1rem;
    text-align: center;
}

.col-1 h3{
    font-size: 1.5;
    margin-top: 1rem;
    text-align: center;
}

.col-1 button{
    padding: 1rem;
    
    font-size: 1rem;
    color: rgb(255, 254, 254);
    background-color: rgb(240, 60, 96);
    border: 0;
    cursor: pointer;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 3rem;
}

.col-1 button:hover{
    transition: all 0.4s ease;
    background-color: rgb(91, 91, 91);
}


.col-2{
    margin-top: 1rem;
    margin-right: 3rem;
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.card{
    background-color: white;
    width: 270px;
    height: 400px;
    margin: 10px;
}

.columns-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image{
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
}













/*@media (max-width: 600px){
    .container{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        margin-left: 0;
        margin-top: 0.2rem;
    }
}*/